<!DOCTYPE html>
<!-- Source: https://gitlab.com/FuckBilibili/FuckBilibili -->
<html lang="zh-CN">

<head>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
  <title>GeekApk 的故事</title>

  <meta property="og:title" content="GeekApk 的故事">
  <meta name="description" content="一个辣鸡应用市场存在的理由">
  <meta property="og:description" content="辣鸡应用市场存在的理由">
  <link rel="canonical" href="https://geekapk.org/">
  <meta property="og:url" content="https://geekapk.org/about/">
  <meta property="og:site_name" content="GeekApk Project">
  <meta property="og:image" content="https://geekapk.org/favicon.png">

  <style type="text/css" media="screen">
    body {
      background-color: #f1f1f1;
      margin: 0;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .container {
      margin: 50px auto 40px auto;
      width: 600px;
      max-width: 80%;
      text-align: center;
    }

    h1 {
      width: 800px;
      max-width: 100%;
      left: -100px;
      letter-spacing: -1px;
      line-height: 60px;
      font-size: 60px;
      font-weight: 100;
      margin: 0px 0 50px 0;
      text-shadow: 0 1px 0 #fff;
    }

    p {
      color: rgba(0, 0, 0, 0.5);
      margin: 20px 0;
      line-height: 1.6;
    }
  </style>

  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
      var u = "//piwik.geekapk.org/piwik/";
      _paq.push(['setTrackerUrl', u + 'piwik.php']);
      _paq.push(['setSiteId', '6']);
      var d = document,
        g = d.createElement('script'),
        s = d.getElementsByTagName('script')[0];
      g.type = 'text/javascript';
      g.async = true;
      g.defer = true;
      g.src = u + 'piwik.js';
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <!-- End Matomo Code -->

  <script src="https://geekapk.org/geekstyle.js"></script>

  <script>
    if (localStorage['colorInf'] != null) {
      document.styleSheets[0].cssRules[0].style.color = localStorage['colorInf'];
      document.styleSheets[0].cssRules[3].style.color = localStorage['colorInf'];
    }
    if (localStorage['colorPrimary'] != null)
      document.styleSheets[0].cssRules[0].style.backgroundColor = localStorage['colorPrimary'];

    if (shouldApplyDarkStyle()) {
      document.styleSheets[0].cssRules[0].style.color = 'white';
      document.styleSheets[0].cssRules[0].style.backgroundColor = 'black';
      document.styleSheets[0].cssRules[3].style.color = 'white'
    }
  </script>

</head>

<body>
  <div class="container">
    <%= ls = idx.lines; '<!-- Generated By ERB -->' %>
    <%= "<h1>#{ls.first.strip}</h1>" %>
    <%= ls.shift; '<!-- Body -->'  %>
    <%= ((ls.map { |l| "    <p>#{l.strip}</p>\n" }).join &:+).strip %>
  </div>
</body>

</html>
