<!DOCTYPE html>
<!-- From the book of Mozilla -->

<html lang="zh-CN" dir="ltr">
  <head>
    <!-- MDUI Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdui/0.4.1/css/mdui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdui/0.4.1/js/mdui.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <title>#{TEXT['title']}</title>

    <!-- theme -->
    <meta name="theme-color" content="#009688">
    <link rel="icon" type="image/png" href="#{TEXT['ic_sym']}">
    <link rel="shortcut icon" type="image/png" href="#{TEXT['ic_sym']}">
    <link rel="fluid-icon" href="#{TEXT['ic']}" title="GeekApk">

    <!-- Begin SEO Tags -->
    <meta property="og:title" content="#{TEXT['og_title']}">
    <meta name="description" content="#{TEXT['og_desc']}">
    <meta property="og:url" content="#{TEXT['url']}">
    <meta property="og:site_name" content="#{TEXT['project']}">
    <meta property="og:image" content="#{TEXT['ic_sym']}">

    <style>
      html {
        font-style: italic
      }

      .geetext {
        font-family: serif;
        font-size: 1.1em;
        line-height: 1.5;
        margin-top: 15%;
        text-align: center
      }

      .from {
        font-family: serif;
        font-size: 1.95em;
        text-align: right
      }

      em {
        font-size: 1.3em;
        line-height: 0
      }

      .f {
        padding-left: .2ex
      }

      a {
        color: #fff;
        text-decoration: none
      }
    </style>

    <!-- geekstyle -->
    <script src="https://geekapk.org/geekstyle.js"></script>
  </head>

  <body class="mdui-color-theme mdui-text-color-theme">
    <% for p in TEXT['book'] %>
    <p class="geetext"><%= p.text %></p>
    <p class="from"><%= p.from %></p>
    <% end %>
  </body>
</html>
