<!DOCTYPE html>
<!-- Source: https://gitlab.com/FuckBilibili/FuckBilibili -->
<!-- Join now! https://t.me/geekapk -->

<html lang="zh-CN" dir="ltr">
  <head>
      <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">

      <title>GeekApk Devs</title>

      <meta property="og:title" content="GeekApk 开发人员文档">
      <meta name="description" content="帮助 GeekApk 变得更好！">
      <meta property="og:description" content="GeekApk 用户、包维护者、插件开发等文档集合">
      <link rel="canonical" href="https://geekapk.org/">
      <meta property="og:url" content="https://geekapk.org/dev/">
      <meta property="og:site_name" content="GeekApk Project">
      <meta property="og:image" content="https://geekapk.org/favicon.png">

      <style type="text/css" media="screen">
          body {
              background-color: #f1f1f1;
              margin: 10%;
              font-weight: bold;
              font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
              text-align: center;
          }
      </style>

      <script src="https://geekapk.org/geekstyle.js"></script>
  </head>

  <body>
      <a href="https://geekapk.org">
          <img alt="Funny" src="https://statics.geekapk.org/funny.png" width="20%" height="20%" />
      </a>
      <div>Constructuring...</div>
  </body>
</html>
